div.centerTable{
        text-align: center;
}

 

div.centerTable table {
       margin: 0 auto;
       text-align: left;
       position: relative;
       width: -300px;
       left: 3%;
       margin-left: 190px;
       border: hidden;
}